@import "../../style.less";

.timeline {
    position: relative;
    border: 1px solid @color-ui-border;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.timeline-top {
    flex: 0 0 30px;
    border-bottom: 1px solid @color-ui-border;
}

.timeline-middle {
    flex: 1;
    background-color: @color-ui-base;
    display: flex;
    flex-direction: column;
}

.timeline-middle > div {
    flex: 1;
    margin-bottom: 4px;
}

.timeline-middle > div:last-child {
    margin-bottom: 0;
}

.timeline-bottom {
    border-top: 1px solid @color-ui-border;
    flex: 0 0 50px;
}

.playhead-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.playhead {
    position: relative;
    height: 100%;
    width: 2px;
    background-color: fade(#cc4444, 75%);
}

.playhead.scrubbing {
    background-color: fade(lighten(#cc4444, 10%), 33%);
}

.range-bar-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 30px;
    padding: 5px;
    padding-bottom: 6px;
    pointer-events: none;
}

.range-bar {
    position: relative;
    height: 100%;
    background-color: rgba(255, 255, 255, 20%);
    pointer-events: auto;
}

.range-bar:hover {
    background-color: rgba(255, 255, 255, 30%);
}

.range-bar:active {
    background-color: rgba(255, 255, 255, 40%);
}
